{% extends 'base.html.twig' %}

{% block body %}
  <h1>Movie DataBase</h1>
  {% if app.user.username is defined %}
    <div>{{ app.user.username }}</div>
  {% else %}
    <div>
      <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
    </div>
  {% endif %}
{% endblock %}
